.dialog {
  max-width: 980px;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #fff;
  margin: 50px auto;
  padding: 46px 165px 80px;
}

.dialog__wrap {
  max-width: 651px;
  width: 100%;
  padding: 40px 15px;
  background: url("../img/image.jpg") no-repeat center;
  background-size: cover;
//  test
  height: 800px;
}

.dialog__content {
  display: flex;
  position: relative;
  margin-bottom: 20px;

  &--right {
    flex-direction: row-reverse;
  }
}

.dialog__photo {
  position: absolute;
  width: 54px;
  height: 54px;
}

.dialog__message {
  position: relative;
  display: inline-block;
  max-width: 470px;
  margin-left: 75px;
  background-color: #fff;
  border-radius: 5px;

  &:before {
    position: absolute;
    top: 10px;
    left: -10px;
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
  }

  &--right {
    margin-right: 75px;

    &:before {
      position: absolute;
      top: 10px;
      left: 110px;
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #ffffff;
    }
  }
}

.dialog__text {
  padding: 15px;
}

.dialog__data-wrap {
  position: relative;
  margin: 30px -15px;
  text-align: center;
  background-image: linear-gradient(to right, #DBDBDB 100%, rgba(255,255,255,0) 0%);
  background-position: center bottom 12px;
  background-size: 5px 1px;
  background-repeat: repeat-x;
}

.dialog__data {
  position: relative;
}