.section-one {
  order: 1;
}

.section-one__wrap {
  display: flex;
}

.section-one__left {
  width: 66%;
  margin-right: 0.7rem;
}

.section-one__right {
  flex-grow: 1;
}

.section-one__item {
  display: flex;
  align-items: flex-end;
  width: 100%;
  background-color: #A2A9B7;
  padding: 1.07rem;
  margin-bottom: 0.71rem;

  &:before {
    content: "";
    padding-top: 100%;
    float: left;
  }

  &--genius {
    width: 100%;
    align-items: flex-start;
    padding: 2.97rem 2.78rem;
    margin: auto;

    &:before {
      content: "";
      padding-top: 100%;
      float: left;
    }
  }
}

.section-one__text {
  font-size: 1.28rem;
  line-height: 1.85rem;
  text-align: center;
}

