.section-two {
  order: 2;

  @media (max-width: $tablets) {
    order: 1;
  }
}

.section-two__wrap {
  display: flex;

  @media (max-width: $tablets) {
    flex-direction: column;
  }
}

.section-two__left {
  display: flex;
  width: 66%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 10px;

  @media (max-width: $tablets) {
    width: 100%;
    margin-top: 10px;
  }
}

.section-two__right {
  width: 33%;

  @media (max-width: $tablets) {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.section-two__item {
  display: flex;
  align-items: flex-end;
  width: calc(50% - 5px);
  min-height: 155px;
  background-color: #E8EBED;
  padding: 15px;
  margin-bottom: 10px;

  &--Conformism {
    width: 100%;
  }

  &--Introjection {
    width: 100%;
    background-color: #90BCE8;

    @media (max-width: $tablets) {
      width: calc(50% - 5px);
    }
  }
  
  &--staff {
    width: 100%;
    background-color: #FEBF26;

    @media (max-width: $tablets) {
      width: calc(50% - 5px);
    }
  }
}

.section-two__title {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}