.section-four {
  order: 4;
}

.section-four__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $tablets) {
    margin-bottom: 10px;
  }
}

.section-four__item {
  display: flex;
  align-items: flex-end;
  width: calc(33% - 5px);
  min-height: 155px;
  background-color: #FFAA87;
  padding: 15px;
  margin-top: 10px;

  @media (max-width: $tablets) {
    width: calc(50% - 5px);
  }

  &:last-child {
    margin-right: 0;
  }

  &--leadership {
    order: 1;

    @media (max-width: $tablets) {
      order: 4;
    }
  }

  &--however {
    order: 2;
    width: 66.3%;
    margin-right: 0;

    @media (max-width: $tablets) {
      order: 1;
      width: 100%;
    }
  }

  &--genius {
    order: 3;
    background-color: #F55E62;

    @media (max-width: $tablets) {
      order: 5;
    }
  }

  &--point {
    order: 4;

    @media (max-width: $tablets) {
      order: 2;
    }
  }

  &--length {
    order: 5;
    background-color: #C7ABD4;

    @media (max-width: $tablets) {
      order: 3;
    }
  }
}

.section-four__title {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}