.section-three {
  order: 3;

  @media (max-width: $tablets) {
    display: none;
  }
}

.section-three__wrap {
  display: flex;
}

.section-three__left {
  width: 32.3%;
  margin-right: 10px;
}

.section-three__right {
  font-family: 'Noto Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  width: 66%;
  background-color: #E3EBD3;
  padding: 15px;
}

.section-three__left-box {
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  &:first-child {
    margin-bottom: 4.5%;
  }
}

.section-three__right-box {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
}

.section-three__right-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.section-three__item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #E3EBD3;

  &--img {
    background: url("../img/img.jpg") no-repeat center;
    background-size: 241px 241px;
  }
}

.section-three__title {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  padding: 15px;
  line-height: 20px;
  color: #000000;

  &--white {
    color: #ffffff;
  }
}

.section-three__item-wrap {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}

.section-three__border {
  position: relative;
  flex-grow: 1;
  top: -3px;
  margin: 0 10px;
  border-bottom: 1px dashed #000000;
}

.section-three__text-end {
  text-align: end;
}

span {
  display: block;
}